   :root {
       --clr-primary: #674baf;
       --cl-secondary: #e882e8;
       --cl-white: #fff;
       --ff-primary: 'Poppins', sans-serif;
       --ff-secondary: 'Open sans', sans-serif;
   }

   * {
       box-sizing: border-box;
   }

   body,
   h1,
   h2,
   h3,
   p {
       margin: 0;
   }

   html {
       height: 100%;
       width: 100%;
       font-size: 16px;
       overflow: hidden;
   }

   body {
       height: 100%;
       width: 100%;
       color: var(--cl-white);
       padding: 2rem 0;
       background: url('../../images/bg-mobile.svg') var(--clr-primary) no-repeat top / 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;

   }

   footer {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 2rem 0;

   }

   //Typography:
   h1,
   h2,
   h3,
   h4 {
       font-family: var(--ff-primary);
       font-weight: 600;
       font-size: 2rem;
       margin-bottom: 1rem;
   }

   p {
       font-family: var(--ff-secondary);
       font-weight: 400;
       font-size: 1.4rem;
       margin-bottom: 2rem;
       line-height: 2rem;
   }

   h2,
   p {
       text-align: center;
   }

   // Images:
   img {
       max-width: 100%;
       display: block;
   }

   i {
       border: 2px solid #fff;
       border-radius: 50%;
       font-size: 1.4rem;
       color: white;
       padding: .8rem;
       cursor: pointer;
       margin: .5rem;
       transition: .2s;

       &:hover {
           border: 2px solid var(--cl-secondary);
           color: var(--cl-secondary);
       }
   }

   //Buttons:
   .btn {
       display: block;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       padding: 1.3rem 2rem;
       width: 22rem;
       font-family: var(--ff-primary);
       font-size: 1.1rem;
       font-weight: 400;
       border: none;
       border-radius: 3rem;
       background-color: var(--cl-white);
       color: var(--clr-primary);
       box-shadow: 5px 8px 15px -4px #202020;
       transition: 0.2s;
       cursor: pointer;

       &:hover {
           background-color: var(--cl-secondary);
           color: var(--cl-white);
       }
   }


   .container {
       width: min(90%, 90rem);
       margin-inline: auto;
       border: 2px solid red;
   }

   .container--narrow {
       max-width: 25rem;
   }

   .container-small {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }

   .text-align-center {
       text-align: center;
   }


   .split {
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
       border: 2px solid yellow;
       padding: 3rem 0;

       img {
           margin-bottom: 1rem;
       }
   }

   // media query: 
   @media (min-width: 40rem) {
       .split {
           flex-direction: row;
       }

       .split>* {
           flex-basis: 100%;
       }

       .split>*+* {
           margin-left: 2rem;
       }

       body {
           background: url('../../images/bg-desktop.svg') var(--clr-primary) no-repeat center / cover;
           background-size: cover;
           /*for safari we can add this sperately*/
       }

       footer {
           justify-content: flex-end;
           align-items: center;
       }

       .container-small {
           display: flex;
           justify-content: flex-start;
           align-items: flex-start;
       }

       h2,
       p {
           text-align: left;
       }
   }